=begin
#Fuse

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.5.0

=end

require 'cgi'

module FuseClient
  class FuseApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AddAccountEventsRequest] :add_account_events_request 
    # @return [AddAccountEventsResponse]
    def add_account_events(account_id, opts = {})
      data, _status_code, _headers = add_account_events_with_http_info(account_id, opts)
      data
    end

    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AddAccountEventsRequest] :add_account_events_request 
    # @return [Array<(AddAccountEventsResponse, Integer, Hash)>] AddAccountEventsResponse data, response status code and response headers
    def add_account_events_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.add_account_events ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling FuseApi.add_account_events"
      end
      # resource path
      local_var_path = '/v1/accounts/{account_id}/events'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'add_account_events_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AddAccountEventsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.add_account_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#add_account_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Use this endpoint to generate an Asset Report for a user. For Plaid, you will need to have the assets product enabled on your plaid account.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAssetReportRequest] :create_asset_report_request 
    # @return [CreateAssetReportResponse]
    def create_asset_report(opts = {})
      data, _status_code, _headers = create_asset_report_with_http_info(opts)
      data
    end

    # Use this endpoint to generate an Asset Report for a user. For Plaid, you will need to have the assets product enabled on your plaid account.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAssetReportRequest] :create_asset_report_request 
    # @return [Array<(CreateAssetReportResponse, Integer, Hash)>] CreateAssetReportResponse data, response status code and response headers
    def create_asset_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.create_asset_report ...'
      end
      # resource path
      local_var_path = '/v1/financial_connections/asset_report/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_asset_report_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.create_asset_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#create_asset_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a link token to start the process of a user connecting to a specific financial institution.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateLinkTokenRequest] :create_link_token_request 
    # @return [CreateLinkTokenResponse]
    def create_link_token(opts = {})
      data, _status_code, _headers = create_link_token_with_http_info(opts)
      data
    end

    # Create a link token to start the process of a user connecting to a specific financial institution.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateLinkTokenRequest] :create_link_token_request 
    # @return [Array<(CreateLinkTokenResponse, Integer, Hash)>] CreateLinkTokenResponse data, response status code and response headers
    def create_link_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.create_link_token ...'
      end
      # resource path
      local_var_path = '/v1/link/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_link_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateLinkTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.create_link_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#create_link_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a session that returns a client_secret which is required as a parameter when initializing the Fuse SDK.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateSessionRequest] :create_session_request 
    # @return [CreateSessionResponse]
    def create_session(opts = {})
      data, _status_code, _headers = create_session_with_http_info(opts)
      data
    end

    # Creates a session that returns a client_secret which is required as a parameter when initializing the Fuse SDK.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateSessionRequest] :create_session_request 
    # @return [Array<(CreateSessionResponse, Integer, Hash)>] CreateSessionResponse data, response status code and response headers
    def create_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.create_session ...'
      end
      # resource path
      local_var_path = '/v1/session'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_session_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.create_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#create_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts the background process that will determine the spend power depending on the customization passed in.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateSpendPowerRequest] :create_spend_power_request 
    # @return [CreateSpendPowerResponse]
    def create_spend_power(opts = {})
      data, _status_code, _headers = create_spend_power_with_http_info(opts)
      data
    end

    # Starts the background process that will determine the spend power depending on the customization passed in.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateSpendPowerRequest] :create_spend_power_request 
    # @return [Array<(CreateSpendPowerResponse, Integer, Hash)>] CreateSpendPowerResponse data, response status code and response headers
    def create_spend_power_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.create_spend_power ...'
      end
      # resource path
      local_var_path = '/v1/spend_power'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_spend_power_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSpendPowerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.create_spend_power",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#create_spend_power\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [CreateSpendPowerCustomizationRequest] :create_spend_power_customization_request 
    # @return [CreateSpendPowerCustomizationResponse]
    def create_spend_power_customization(opts = {})
      data, _status_code, _headers = create_spend_power_customization_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [CreateSpendPowerCustomizationRequest] :create_spend_power_customization_request 
    # @return [Array<(CreateSpendPowerCustomizationResponse, Integer, Hash)>] CreateSpendPowerCustomizationResponse data, response status code and response headers
    def create_spend_power_customization_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.create_spend_power_customization ...'
      end
      # resource path
      local_var_path = '/v1/spend_power/customization'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_spend_power_customization_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSpendPowerCustomizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.create_spend_power_customization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#create_spend_power_customization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a financial connection
    # @param financial_connection_id_to_delete [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteFinancialConnectionResponse]
    def delete_financial_connection(financial_connection_id_to_delete, opts = {})
      data, _status_code, _headers = delete_financial_connection_with_http_info(financial_connection_id_to_delete, opts)
      data
    end

    # Delete a financial connection
    # @param financial_connection_id_to_delete [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteFinancialConnectionResponse, Integer, Hash)>] DeleteFinancialConnectionResponse data, response status code and response headers
    def delete_financial_connection_with_http_info(financial_connection_id_to_delete, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.delete_financial_connection ...'
      end
      # verify the required parameter 'financial_connection_id_to_delete' is set
      if @api_client.config.client_side_validation && financial_connection_id_to_delete.nil?
        fail ArgumentError, "Missing the required parameter 'financial_connection_id_to_delete' when calling FuseApi.delete_financial_connection"
      end
      # resource path
      local_var_path = '/v1/financial_connections/{financial_connection_id_to_delete}'.sub('{' + 'financial_connection_id_to_delete' + '}', CGI.escape(financial_connection_id_to_delete.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFinancialConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.delete_financial_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#delete_financial_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EnrichTransactionsRequest] :enrich_transactions_request 
    # @return [EnrichTransactionsResponse]
    def enrich_transactions(fuse_client_id, fuse_api_key, opts = {})
      data, _status_code, _headers = enrich_transactions_with_http_info(fuse_client_id, fuse_api_key, opts)
      data
    end

    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EnrichTransactionsRequest] :enrich_transactions_request 
    # @return [Array<(EnrichTransactionsResponse, Integer, Hash)>] EnrichTransactionsResponse data, response status code and response headers
    def enrich_transactions_with_http_info(fuse_client_id, fuse_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.enrich_transactions ...'
      end
      # verify the required parameter 'fuse_client_id' is set
      if @api_client.config.client_side_validation && fuse_client_id.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_client_id' when calling FuseApi.enrich_transactions"
      end
      # verify the required parameter 'fuse_api_key' is set
      if @api_client.config.client_side_validation && fuse_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_api_key' when calling FuseApi.enrich_transactions"
      end
      # resource path
      local_var_path = '/v1/transactions/enrich'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Fuse-Client-Id'] = fuse_client_id
      header_params[:'Fuse-Api-Key'] = fuse_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'enrich_transactions_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EnrichTransactionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.enrich_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#enrich_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # API to exchange a public token for an access token and financial connection id
    # @param [Hash] opts the optional parameters
    # @option opts [ExchangeFinancialConnectionsPublicTokenRequest] :exchange_financial_connections_public_token_request 
    # @return [ExchangeFinancialConnectionsPublicTokenResponse]
    def exchange_financial_connections_public_token(opts = {})
      data, _status_code, _headers = exchange_financial_connections_public_token_with_http_info(opts)
      data
    end

    # API to exchange a public token for an access token and financial connection id
    # @param [Hash] opts the optional parameters
    # @option opts [ExchangeFinancialConnectionsPublicTokenRequest] :exchange_financial_connections_public_token_request 
    # @return [Array<(ExchangeFinancialConnectionsPublicTokenResponse, Integer, Hash)>] ExchangeFinancialConnectionsPublicTokenResponse data, response status code and response headers
    def exchange_financial_connections_public_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.exchange_financial_connections_public_token ...'
      end
      # resource path
      local_var_path = '/v1/financial_connections/public_token/exchange'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'exchange_financial_connections_public_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeFinancialConnectionsPublicTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.exchange_financial_connections_public_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#exchange_financial_connections_public_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the Asset Report in JSON format. For Plaid, you will need to have the assets product enabled on your plaid account.
    # @param [Hash] opts the optional parameters
    # @option opts [GetAssetReportRequest] :get_asset_report_request 
    # @return [RefreshAssetReportResponse]
    def get_asset_report(opts = {})
      data, _status_code, _headers = get_asset_report_with_http_info(opts)
      data
    end

    # Retrieves the Asset Report in JSON format. For Plaid, you will need to have the assets product enabled on your plaid account.
    # @param [Hash] opts the optional parameters
    # @option opts [GetAssetReportRequest] :get_asset_report_request 
    # @return [Array<(RefreshAssetReportResponse, Integer, Hash)>] RefreshAssetReportResponse data, response status code and response headers
    def get_asset_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_asset_report ...'
      end
      # resource path
      local_var_path = '/v1/financial_connections/asset_report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_asset_report_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RefreshAssetReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_asset_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_asset_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get entity
    # An entity is automatically created after a successful connection. The id of the entity is what is set when calling the 'create session' endpoint
    # @param entity_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetEntityResponse]
    def get_entity(entity_id, opts = {})
      data, _status_code, _headers = get_entity_with_http_info(entity_id, opts)
      data
    end

    # Get entity
    # An entity is automatically created after a successful connection. The id of the entity is what is set when calling the &#39;create session&#39; endpoint
    # @param entity_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEntityResponse, Integer, Hash)>] GetEntityResponse data, response status code and response headers
    def get_entity_with_http_info(entity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_entity ...'
      end
      # verify the required parameter 'entity_id' is set
      if @api_client.config.client_side_validation && entity_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_id' when calling FuseApi.get_entity"
      end
      # resource path
      local_var_path = '/v1/entities/{entity_id}'.sub('{' + 'entity_id' + '}', CGI.escape(entity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEntityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get finance score
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinanceScoreResponse]
    def get_finance_score(account_id, opts = {})
      data, _status_code, _headers = get_finance_score_with_http_info(account_id, opts)
      data
    end

    # Get finance score
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinanceScoreResponse, Integer, Hash)>] GetFinanceScoreResponse data, response status code and response headers
    def get_finance_score_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_finance_score ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling FuseApi.get_finance_score"
      end
      # resource path
      local_var_path = '/v1/accounts/{account_id}/finance_score'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinanceScoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_finance_score",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_finance_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get financial connection details
    # @param financial_connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialConnectionResponse]
    def get_financial_connection(financial_connection_id, opts = {})
      data, _status_code, _headers = get_financial_connection_with_http_info(financial_connection_id, opts)
      data
    end

    # Get financial connection details
    # @param financial_connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialConnectionResponse, Integer, Hash)>] GetFinancialConnectionResponse data, response status code and response headers
    def get_financial_connection_with_http_info(financial_connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connection ...'
      end
      # verify the required parameter 'financial_connection_id' is set
      if @api_client.config.client_side_validation && financial_connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_connection_id' when calling FuseApi.get_financial_connection"
      end
      # resource path
      local_var_path = '/v1/financial_connections/{financial_connection_id}'.sub('{' + 'financial_connection_id' + '}', CGI.escape(financial_connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get account details
    # @param get_financial_connections_account_details_request [GetFinancialConnectionsAccountDetailsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialConnectionsAccountDetailsResponse]
    def get_financial_connections_account_details(get_financial_connections_account_details_request, opts = {})
      data, _status_code, _headers = get_financial_connections_account_details_with_http_info(get_financial_connections_account_details_request, opts)
      data
    end

    # Get account details
    # @param get_financial_connections_account_details_request [GetFinancialConnectionsAccountDetailsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialConnectionsAccountDetailsResponse, Integer, Hash)>] GetFinancialConnectionsAccountDetailsResponse data, response status code and response headers
    def get_financial_connections_account_details_with_http_info(get_financial_connections_account_details_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connections_account_details ...'
      end
      # verify the required parameter 'get_financial_connections_account_details_request' is set
      if @api_client.config.client_side_validation && get_financial_connections_account_details_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_financial_connections_account_details_request' when calling FuseApi.get_financial_connections_account_details"
      end
      # resource path
      local_var_path = '/v1/financial_connections/accounts/details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_financial_connections_account_details_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionsAccountDetailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connections_account_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connections_account_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves an account statement for the given financial connection, account and date. This endpoint may time out so we recommend using a retry mechanism with exponential backoff.
    # @param [Hash] opts the optional parameters
    # @option opts [GetFinancialConnectionsAccountStatementRequest] :get_financial_connections_account_statement_request 
    # @return [GetFinancialConnectionsAccountStatementResponse]
    def get_financial_connections_account_statement(opts = {})
      data, _status_code, _headers = get_financial_connections_account_statement_with_http_info(opts)
      data
    end

    # Retrieves an account statement for the given financial connection, account and date. This endpoint may time out so we recommend using a retry mechanism with exponential backoff.
    # @param [Hash] opts the optional parameters
    # @option opts [GetFinancialConnectionsAccountStatementRequest] :get_financial_connections_account_statement_request 
    # @return [Array<(GetFinancialConnectionsAccountStatementResponse, Integer, Hash)>] GetFinancialConnectionsAccountStatementResponse data, response status code and response headers
    def get_financial_connections_account_statement_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connections_account_statement ...'
      end
      # resource path
      local_var_path = '/v1/financial_connections/accounts/statement'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_financial_connections_account_statement_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionsAccountStatementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connections_account_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connections_account_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get accounts
    # @param get_financial_connections_accounts_request [GetFinancialConnectionsAccountsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialConnectionsAccountsResponse]
    def get_financial_connections_accounts(get_financial_connections_accounts_request, opts = {})
      data, _status_code, _headers = get_financial_connections_accounts_with_http_info(get_financial_connections_accounts_request, opts)
      data
    end

    # Get accounts
    # @param get_financial_connections_accounts_request [GetFinancialConnectionsAccountsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialConnectionsAccountsResponse, Integer, Hash)>] GetFinancialConnectionsAccountsResponse data, response status code and response headers
    def get_financial_connections_accounts_with_http_info(get_financial_connections_accounts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connections_accounts ...'
      end
      # verify the required parameter 'get_financial_connections_accounts_request' is set
      if @api_client.config.client_side_validation && get_financial_connections_accounts_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_financial_connections_accounts_request' when calling FuseApi.get_financial_connections_accounts"
      end
      # resource path
      local_var_path = '/v1/financial_connections/accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_financial_connections_accounts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionsAccountsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connections_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connections_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get balances
    # @param get_financial_connections_balance_request [GetFinancialConnectionsBalanceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialConnectionsBalanceResponse]
    def get_financial_connections_balances(get_financial_connections_balance_request, opts = {})
      data, _status_code, _headers = get_financial_connections_balances_with_http_info(get_financial_connections_balance_request, opts)
      data
    end

    # Get balances
    # @param get_financial_connections_balance_request [GetFinancialConnectionsBalanceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialConnectionsBalanceResponse, Integer, Hash)>] GetFinancialConnectionsBalanceResponse data, response status code and response headers
    def get_financial_connections_balances_with_http_info(get_financial_connections_balance_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connections_balances ...'
      end
      # verify the required parameter 'get_financial_connections_balance_request' is set
      if @api_client.config.client_side_validation && get_financial_connections_balance_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_financial_connections_balance_request' when calling FuseApi.get_financial_connections_balances"
      end
      # resource path
      local_var_path = '/v1/financial_connections/balances'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_financial_connections_balance_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionsBalanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connections_balances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connections_balances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get account owners
    # @param get_financial_connections_owners_request [GetFinancialConnectionsOwnersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialConnectionsOwnersResponse]
    def get_financial_connections_owners(get_financial_connections_owners_request, opts = {})
      data, _status_code, _headers = get_financial_connections_owners_with_http_info(get_financial_connections_owners_request, opts)
      data
    end

    # Get account owners
    # @param get_financial_connections_owners_request [GetFinancialConnectionsOwnersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialConnectionsOwnersResponse, Integer, Hash)>] GetFinancialConnectionsOwnersResponse data, response status code and response headers
    def get_financial_connections_owners_with_http_info(get_financial_connections_owners_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connections_owners ...'
      end
      # verify the required parameter 'get_financial_connections_owners_request' is set
      if @api_client.config.client_side_validation && get_financial_connections_owners_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_financial_connections_owners_request' when calling FuseApi.get_financial_connections_owners"
      end
      # resource path
      local_var_path = '/v1/financial_connections/owners'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_financial_connections_owners_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionsOwnersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connections_owners",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connections_owners\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get transactions
    # @param get_financial_connections_transactions_request [GetFinancialConnectionsTransactionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialConnectionsTransactionsResponse]
    def get_financial_connections_transactions(get_financial_connections_transactions_request, opts = {})
      data, _status_code, _headers = get_financial_connections_transactions_with_http_info(get_financial_connections_transactions_request, opts)
      data
    end

    # Get transactions
    # @param get_financial_connections_transactions_request [GetFinancialConnectionsTransactionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialConnectionsTransactionsResponse, Integer, Hash)>] GetFinancialConnectionsTransactionsResponse data, response status code and response headers
    def get_financial_connections_transactions_with_http_info(get_financial_connections_transactions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_connections_transactions ...'
      end
      # verify the required parameter 'get_financial_connections_transactions_request' is set
      if @api_client.config.client_side_validation && get_financial_connections_transactions_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_financial_connections_transactions_request' when calling FuseApi.get_financial_connections_transactions"
      end
      # resource path
      local_var_path = '/v1/financial_connections/transactions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_financial_connections_transactions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialConnectionsTransactionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_connections_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_connections_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a financial institution
    # Receive metadata for a financial institution
    # @param institution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetFinancialInstitutionResponse]
    def get_financial_institution(institution_id, opts = {})
      data, _status_code, _headers = get_financial_institution_with_http_info(institution_id, opts)
      data
    end

    # Get a financial institution
    # Receive metadata for a financial institution
    # @param institution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFinancialInstitutionResponse, Integer, Hash)>] GetFinancialInstitutionResponse data, response status code and response headers
    def get_financial_institution_with_http_info(institution_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_financial_institution ...'
      end
      # verify the required parameter 'institution_id' is set
      if @api_client.config.client_side_validation && institution_id.nil?
        fail ArgumentError, "Missing the required parameter 'institution_id' when calling FuseApi.get_financial_institution"
      end
      # resource path
      local_var_path = '/v1/financial_connections/institutions/{institution_id}'.sub('{' + 'institution_id' + '}', CGI.escape(institution_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFinancialInstitutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_financial_institution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_financial_institution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get investment holdings
    # @param get_investment_holdings_request [GetInvestmentHoldingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetInvestmentHoldingsResponse]
    def get_investment_holdings(get_investment_holdings_request, opts = {})
      data, _status_code, _headers = get_investment_holdings_with_http_info(get_investment_holdings_request, opts)
      data
    end

    # Get investment holdings
    # @param get_investment_holdings_request [GetInvestmentHoldingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInvestmentHoldingsResponse, Integer, Hash)>] GetInvestmentHoldingsResponse data, response status code and response headers
    def get_investment_holdings_with_http_info(get_investment_holdings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_investment_holdings ...'
      end
      # verify the required parameter 'get_investment_holdings_request' is set
      if @api_client.config.client_side_validation && get_investment_holdings_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_investment_holdings_request' when calling FuseApi.get_investment_holdings"
      end
      # resource path
      local_var_path = '/v1/financial_connections/investments/holdings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_investment_holdings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetInvestmentHoldingsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_investment_holdings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_investment_holdings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get investment transactions
    # @param get_investment_transactions_request [GetInvestmentTransactionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetInvestmentTransactionsResponse]
    def get_investment_transactions(get_investment_transactions_request, opts = {})
      data, _status_code, _headers = get_investment_transactions_with_http_info(get_investment_transactions_request, opts)
      data
    end

    # Get investment transactions
    # @param get_investment_transactions_request [GetInvestmentTransactionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInvestmentTransactionsResponse, Integer, Hash)>] GetInvestmentTransactionsResponse data, response status code and response headers
    def get_investment_transactions_with_http_info(get_investment_transactions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_investment_transactions ...'
      end
      # verify the required parameter 'get_investment_transactions_request' is set
      if @api_client.config.client_side_validation && get_investment_transactions_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_investment_transactions_request' when calling FuseApi.get_investment_transactions"
      end
      # resource path
      local_var_path = '/v1/financial_connections/investments/transactions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_investment_transactions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetInvestmentTransactionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_investment_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_investment_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get spend power
    # @param spend_power_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSpendPowerResponse]
    def get_spend_power(spend_power_id, opts = {})
      data, _status_code, _headers = get_spend_power_with_http_info(spend_power_id, opts)
      data
    end

    # Get spend power
    # @param spend_power_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSpendPowerResponse, Integer, Hash)>] GetSpendPowerResponse data, response status code and response headers
    def get_spend_power_with_http_info(spend_power_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.get_spend_power ...'
      end
      # verify the required parameter 'spend_power_id' is set
      if @api_client.config.client_side_validation && spend_power_id.nil?
        fail ArgumentError, "Missing the required parameter 'spend_power_id' when calling FuseApi.get_spend_power"
      end
      # resource path
      local_var_path = '/v1/spend_power/{spend_power_id}'.sub('{' + 'spend_power_id' + '}', CGI.escape(spend_power_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSpendPowerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.get_spend_power",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#get_spend_power\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Migrate financial connection
    # This endpoint migrates financial connections from Plaid or MX into the unified Fuse API. It accepts a POST request with connection data, aggregator, entity, and Fuse products, and responds with a JSON payload containing the migrated connection's data, access token, ID, and request ID.
    # @param [Hash] opts the optional parameters
    # @option opts [MigrateFinancialConnectionsTokenRequest] :migrate_financial_connections_token_request 
    # @return [MigrateFinancialConnectionsTokenResponse]
    def migrate_financial_connection(opts = {})
      data, _status_code, _headers = migrate_financial_connection_with_http_info(opts)
      data
    end

    # Migrate financial connection
    # This endpoint migrates financial connections from Plaid or MX into the unified Fuse API. It accepts a POST request with connection data, aggregator, entity, and Fuse products, and responds with a JSON payload containing the migrated connection&#39;s data, access token, ID, and request ID.
    # @param [Hash] opts the optional parameters
    # @option opts [MigrateFinancialConnectionsTokenRequest] :migrate_financial_connections_token_request 
    # @return [Array<(MigrateFinancialConnectionsTokenResponse, Integer, Hash)>] MigrateFinancialConnectionsTokenResponse data, response status code and response headers
    def migrate_financial_connection_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.migrate_financial_connection ...'
      end
      # resource path
      local_var_path = '/v1/financial_connections/migrate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'migrate_financial_connections_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MigrateFinancialConnectionsTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.migrate_financial_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#migrate_financial_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refreshes the Asset Report in JSON format. For Plaid, you will need to have the assets product enabled on your plaid account.
    # @param [Hash] opts the optional parameters
    # @option opts [RefreshAssetReportRequest] :refresh_asset_report_request 
    # @return [AssetReportResponse]
    def refresh_asset_report(opts = {})
      data, _status_code, _headers = refresh_asset_report_with_http_info(opts)
      data
    end

    # Refreshes the Asset Report in JSON format. For Plaid, you will need to have the assets product enabled on your plaid account.
    # @param [Hash] opts the optional parameters
    # @option opts [RefreshAssetReportRequest] :refresh_asset_report_request 
    # @return [Array<(AssetReportResponse, Integer, Hash)>] AssetReportResponse data, response status code and response headers
    def refresh_asset_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.refresh_asset_report ...'
      end
      # resource path
      local_var_path = '/v1/financial_connections/asset_report/refresh'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'refresh_asset_report_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.refresh_asset_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#refresh_asset_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync financial connections data
    # Call this endpoint upon receiving a financial_connection.sync_data webhook. This will keep the financial connections data up to date.
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [SyncFinancialConnectionsDataResponse]
    def sync_financial_connections_data(body, opts = {})
      data, _status_code, _headers = sync_financial_connections_data_with_http_info(body, opts)
      data
    end

    # Sync financial connections data
    # Call this endpoint upon receiving a financial_connection.sync_data webhook. This will keep the financial connections data up to date.
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyncFinancialConnectionsDataResponse, Integer, Hash)>] SyncFinancialConnectionsDataResponse data, response status code and response headers
    def sync_financial_connections_data_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.sync_financial_connections_data ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FuseApi.sync_financial_connections_data"
      end
      # resource path
      local_var_path = '/v1/financial_connections/sync'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SyncFinancialConnectionsDataResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.sync_financial_connections_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#sync_financial_connections_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update spend power customization
    # @param spend_power_customization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateSpendPowerCustomizationRequest] :update_spend_power_customization_request 
    # @return [UpdateSpendPowerCustomizationResponse]
    def update_spend_power_customization(spend_power_customization_id, opts = {})
      data, _status_code, _headers = update_spend_power_customization_with_http_info(spend_power_customization_id, opts)
      data
    end

    # Update spend power customization
    # @param spend_power_customization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateSpendPowerCustomizationRequest] :update_spend_power_customization_request 
    # @return [Array<(UpdateSpendPowerCustomizationResponse, Integer, Hash)>] UpdateSpendPowerCustomizationResponse data, response status code and response headers
    def update_spend_power_customization_with_http_info(spend_power_customization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.update_spend_power_customization ...'
      end
      # verify the required parameter 'spend_power_customization_id' is set
      if @api_client.config.client_side_validation && spend_power_customization_id.nil?
        fail ArgumentError, "Missing the required parameter 'spend_power_customization_id' when calling FuseApi.update_spend_power_customization"
      end
      # resource path
      local_var_path = '/v1/spend_power/customization/{spend_power_customization_id}'.sub('{' + 'spend_power_customization_id' + '}', CGI.escape(spend_power_customization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_spend_power_customization_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSpendPowerCustomizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.update_spend_power_customization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#update_spend_power_customization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get liabilities
    # @param get_liabilities_request [GetLiabilitiesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetLiabilitiesResponse]
    def v1_financial_connections_liabilities_post(get_liabilities_request, opts = {})
      data, _status_code, _headers = v1_financial_connections_liabilities_post_with_http_info(get_liabilities_request, opts)
      data
    end

    # Get liabilities
    # @param get_liabilities_request [GetLiabilitiesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLiabilitiesResponse, Integer, Hash)>] GetLiabilitiesResponse data, response status code and response headers
    def v1_financial_connections_liabilities_post_with_http_info(get_liabilities_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FuseApi.v1_financial_connections_liabilities_post ...'
      end
      # verify the required parameter 'get_liabilities_request' is set
      if @api_client.config.client_side_validation && get_liabilities_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_liabilities_request' when calling FuseApi.v1_financial_connections_liabilities_post"
      end
      # resource path
      local_var_path = '/v1/financial_connections/liabilities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_liabilities_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetLiabilitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"FuseApi.v1_financial_connections_liabilities_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FuseApi#v1_financial_connections_liabilities_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
