=begin
#Fuse

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module FuseClient
  class RiskReportApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete consumer risk report
    # @param consumer_risk_report_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteConsumerRiskReportResponse]
    def delete_consumer_risk_report(consumer_risk_report_id, fuse_client_id, fuse_api_key, opts = {})
      data, _status_code, _headers = delete_consumer_risk_report_with_http_info(consumer_risk_report_id, fuse_client_id, fuse_api_key, opts)
      data
    end

    # Delete consumer risk report
    # @param consumer_risk_report_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteConsumerRiskReportResponse, Integer, Hash)>] DeleteConsumerRiskReportResponse data, response status code and response headers
    def delete_consumer_risk_report_with_http_info(consumer_risk_report_id, fuse_client_id, fuse_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RiskReportApi.delete_consumer_risk_report ...'
      end
      # verify the required parameter 'consumer_risk_report_id' is set
      if @api_client.config.client_side_validation && consumer_risk_report_id.nil?
        fail ArgumentError, "Missing the required parameter 'consumer_risk_report_id' when calling RiskReportApi.delete_consumer_risk_report"
      end
      # verify the required parameter 'fuse_client_id' is set
      if @api_client.config.client_side_validation && fuse_client_id.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_client_id' when calling RiskReportApi.delete_consumer_risk_report"
      end
      # verify the required parameter 'fuse_api_key' is set
      if @api_client.config.client_side_validation && fuse_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_api_key' when calling RiskReportApi.delete_consumer_risk_report"
      end
      # resource path
      local_var_path = '/v1/risk_report/consumer/{consumer_risk_report_id}'.sub('{' + 'consumer_risk_report_id' + '}', CGI.escape(consumer_risk_report_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Fuse-Client-Id'] = fuse_client_id
      header_params[:'Fuse-Api-Key'] = fuse_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteConsumerRiskReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"RiskReportApi.delete_consumer_risk_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RiskReportApi#delete_consumer_risk_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get consumer risk report customization
    # @param consumer_risk_report_customization_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetConsumerRiskReportCustomizationResponse]
    def get_consumer_risk_report_customization(consumer_risk_report_customization_id, fuse_client_id, fuse_api_key, opts = {})
      data, _status_code, _headers = get_consumer_risk_report_customization_with_http_info(consumer_risk_report_customization_id, fuse_client_id, fuse_api_key, opts)
      data
    end

    # Get consumer risk report customization
    # @param consumer_risk_report_customization_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetConsumerRiskReportCustomizationResponse, Integer, Hash)>] GetConsumerRiskReportCustomizationResponse data, response status code and response headers
    def get_consumer_risk_report_customization_with_http_info(consumer_risk_report_customization_id, fuse_client_id, fuse_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RiskReportApi.get_consumer_risk_report_customization ...'
      end
      # verify the required parameter 'consumer_risk_report_customization_id' is set
      if @api_client.config.client_side_validation && consumer_risk_report_customization_id.nil?
        fail ArgumentError, "Missing the required parameter 'consumer_risk_report_customization_id' when calling RiskReportApi.get_consumer_risk_report_customization"
      end
      # verify the required parameter 'fuse_client_id' is set
      if @api_client.config.client_side_validation && fuse_client_id.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_client_id' when calling RiskReportApi.get_consumer_risk_report_customization"
      end
      # verify the required parameter 'fuse_api_key' is set
      if @api_client.config.client_side_validation && fuse_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_api_key' when calling RiskReportApi.get_consumer_risk_report_customization"
      end
      # resource path
      local_var_path = '/v1/risk_report/consumer/customization/{consumer_risk_report_customization_id}'.sub('{' + 'consumer_risk_report_customization_id' + '}', CGI.escape(consumer_risk_report_customization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Fuse-Client-Id'] = fuse_client_id
      header_params[:'Fuse-Api-Key'] = fuse_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConsumerRiskReportCustomizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"RiskReportApi.get_consumer_risk_report_customization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RiskReportApi#get_consumer_risk_report_customization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
