=begin
#Fuse

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.5.0

=end

require 'cgi'

module FuseClient
  class SpendPowerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete spend power customization
    # @param spend_power_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteSpendPowerResponse]
    def delete_spend_power(spend_power_id, fuse_client_id, fuse_api_key, opts = {})
      data, _status_code, _headers = delete_spend_power_with_http_info(spend_power_id, fuse_client_id, fuse_api_key, opts)
      data
    end

    # Delete spend power customization
    # @param spend_power_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteSpendPowerResponse, Integer, Hash)>] DeleteSpendPowerResponse data, response status code and response headers
    def delete_spend_power_with_http_info(spend_power_id, fuse_client_id, fuse_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SpendPowerApi.delete_spend_power ...'
      end
      # verify the required parameter 'spend_power_id' is set
      if @api_client.config.client_side_validation && spend_power_id.nil?
        fail ArgumentError, "Missing the required parameter 'spend_power_id' when calling SpendPowerApi.delete_spend_power"
      end
      # verify the required parameter 'fuse_client_id' is set
      if @api_client.config.client_side_validation && fuse_client_id.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_client_id' when calling SpendPowerApi.delete_spend_power"
      end
      # verify the required parameter 'fuse_api_key' is set
      if @api_client.config.client_side_validation && fuse_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_api_key' when calling SpendPowerApi.delete_spend_power"
      end
      # resource path
      local_var_path = '/v1/spend_power/{spend_power_id}'.sub('{' + 'spend_power_id' + '}', CGI.escape(spend_power_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Fuse-Client-Id'] = fuse_client_id
      header_params[:'Fuse-Api-Key'] = fuse_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSpendPowerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"SpendPowerApi.delete_spend_power",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SpendPowerApi#delete_spend_power\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get spend power customization
    # @param spend_power_customization_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSpendPowerCustomizationResponse]
    def get_spend_power_customization(spend_power_customization_id, fuse_client_id, fuse_api_key, opts = {})
      data, _status_code, _headers = get_spend_power_customization_with_http_info(spend_power_customization_id, fuse_client_id, fuse_api_key, opts)
      data
    end

    # Get spend power customization
    # @param spend_power_customization_id [String] 
    # @param fuse_client_id [String] 
    # @param fuse_api_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSpendPowerCustomizationResponse, Integer, Hash)>] GetSpendPowerCustomizationResponse data, response status code and response headers
    def get_spend_power_customization_with_http_info(spend_power_customization_id, fuse_client_id, fuse_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SpendPowerApi.get_spend_power_customization ...'
      end
      # verify the required parameter 'spend_power_customization_id' is set
      if @api_client.config.client_side_validation && spend_power_customization_id.nil?
        fail ArgumentError, "Missing the required parameter 'spend_power_customization_id' when calling SpendPowerApi.get_spend_power_customization"
      end
      # verify the required parameter 'fuse_client_id' is set
      if @api_client.config.client_side_validation && fuse_client_id.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_client_id' when calling SpendPowerApi.get_spend_power_customization"
      end
      # verify the required parameter 'fuse_api_key' is set
      if @api_client.config.client_side_validation && fuse_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'fuse_api_key' when calling SpendPowerApi.get_spend_power_customization"
      end
      # resource path
      local_var_path = '/v1/spend_power/customization/{spend_power_customization_id}'.sub('{' + 'spend_power_customization_id' + '}', CGI.escape(spend_power_customization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Fuse-Client-Id'] = fuse_client_id
      header_params[:'Fuse-Api-Key'] = fuse_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSpendPowerCustomizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['fuseApiKey', 'fuseClientId']

      new_options = opts.merge(
        :operation => :"SpendPowerApi.get_spend_power_customization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SpendPowerApi#get_spend_power_customization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
